#basquet-seccion {
    margin: 0;
    padding: 10px;
}

.vBasquet {
    color: white;
    background-color: #d25b00;
    border: 2px solid #502200;
}

.vBasquet:hover {
    background-color: #f16800;
}

.container-basquet {
    background-color: #ff9b00;
    color: black;
    max-width: 800px;
    border: solid 3px black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
    /* text-shadow: 1px 1px 4px rgb(255, 123, 0); */
}

.container-basquet h1 {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.container-basquet h2 {
    text-align: center;
    margin-bottom: 10px;
}

.linea-basquet {
    background-color: black;
    margin: auto;
    width: 40%;
    height: 4px;
    border-radius: 5px;
}

#tipoPartidoBasquet {
    text-align: center;
}

.btn-partido-basquet {
    color: #502200;
    background-color: #f0f0f0;
    border: 2px solid #502200;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    font-weight: 800;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.btn-partido-basquet:hover {
    background-color: #ba5000;
}

.btn-partido-basquet.selected {
    background-color: #d25b00;
    border: 2px solid #502200;
    color: white;
}

#listaJugadoresBasquet {
    display: flex;
    flex-wrap: wrap;
}

#jugadorBasquet {
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #502200;
}

#agregarJugadorBasquet {
    background-color: #d25b00;
    border: 2px solid #502200;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

#agregarJugadorBasquet:active {
    transform: translateY(1px);
}

/* Estilos para los divs de los jugadores */
.jugadorBasquet {
    display: flex;
    background-color: #2e1800;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    /* position: relative; */
}

.jugadorBasquet span {
    text-transform: uppercase;
    margin-right: 10px;
}

/* Estilos para el botón de eliminar (la cruz "X") */
.jugadorBasquet .eliminar {
    background-color: #ff2c2c;
    color: white;
    border: none;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
    line-height: 1;
}

.jugadorBasquet .eliminar:hover {
    background-color: #c02020;
    color: white;
}

.btn-sorteo-basquet {
    color: white;
    background-color: #dd6000;
    border: 2px solid #813600;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 4px 5px 6px 1px rgba(0, 0, 0, 0.2);
}

.btn-sorteo-basquet:active {
    transform: translateY(3px);
}

#equiposBasquet {
    background-image: url(https://static.vecteezy.com/system/resources/previews/036/080/518/large_2x/basketball-court-floor-with-line-on-wood-texture-background-illustration-vector.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-around;
    height: auto;
    margin-top: 10px;
    color: #fdec00;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1)
}

.equiposSorteadosBasquet ul {
    list-style-type: none;
    font-size: 16px;
    padding: 0;
}

.listaEquipo1Basquet,
.listaEquipo2Basquet {
    list-style-type: none;
    font-size: 16px;
    padding: 0;
}


#copiarContenidoBasquet {
    position: absolute;
    bottom: 2px;
    right: auto;
    color: white;
    background-color: #6f6f6f;
    border: 2px solid #484848;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

#copiarContenidoBasquet:hover {
    background-color: #484848;
}

#iniciaBasquet {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #582600;
}

.nombreJugadoresBasquet {
    display: grid;
    place-items: center;
}